coveralls==3.3.1
Django==3.2
djangorestframework==3.13.1
Faker==12.0.1
graphene==2.1.9
graphene-django==2.15.0
mixer==7.2.2
psycopg2-binary==2.9.3
pytest==7.1.2
pytest-django-4.5.2
pytz==2022.2.1
snapshottest==0.6.0
wasmer==1.1.0
